.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06d8;
  color: white;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.landing-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}
.landing-image img {
  width: 110%;
  height: 100%;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  object-fit: cover;
}
.nav button {
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.nav button:hover,
.nav button:active {
  background-color: #2c0d00;
}

.nav svg {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

@media (max-width:992px) {
  .nav {
    padding: 0 5%;
  }
  .nav button {
    padding: .6rem 1.3rem .6rem 1rem;
    font-size: 13px;

  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
